//Подключен также другой файл разметки(template.pug), содержащий набор шаблонов в виде миксинов
//-Обычный инпут 150*46 или длинее, если необходимо. Часто встречается в верстке
mixin workPlate(a, b, c)
    .workplate
        .workplate__textboard #{a}
        label.workplate__signboard
            input.workplate__signboard-content(class=c)(type="text")(class=attributes.class placeholder=b)
mixin workField(up, down)
    .email.person
        input.input_content(type="text")(class=attributes.class placeholder=up)
    .password.person
        input.input_content(type="text")(class=attributes.class placeholder=down)